 .div1 {
         background-color: lightblue;
 }


 .div2 {
         border:1px solid black;
 }


 .div3 {
         background-color: lightcoral;
 }


 .div4 {
         color: tomato;
         font-weight: bolder;
 }


 .div5 {
         color: lightgreen;
         font-weight: bolder;
 }


 .div6 {
         background-color: tomato;
 }


 .div7 {
         background-color:lightgreen;
 }