 .div1 {
         background-color: lightblue;
 }


 .div2 {
         border:1px solid black;
 }


 .div3 {
         background-color: lightcoral;
 }

 .div4 {
         color: tomato;
 }

 .div5 {
         color: lightgreen;
 }